* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(32, 136, 246);
    color: white;
    flex: wrap;
}

img {
    width: 150px;
}

.start {
    display: block;
    text-align: center;
    justify-content: center;
}
.name{
    margin: 10px;
}
.date {
    opacity: 0.5;
    margin-top: 25px;
}

.temprature {
    margin-left: 10px;
    font-size: 2em;
}

.climate {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: larger;
}

.last {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-right: 35%;
    margin-left: 35%;
    border: 1px solid rgb(19, 91, 208);
    background-color: rgb(19, 91, 208);
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
}

span {
    display: block;
    opacity: 0.5;
}

.input {
    margin-top: 30px;
}

.input .cityName {
    padding: 15px;
    height: 40px;
    width: 200px;
    border: 1px solid rgb(55, 137, 185);
    border-radius: 25px;
    background-color: rgb(52, 231, 162);
}

.input .btn {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    border: 1px solid rgb(108, 157, 236);
    background-color: rgb(0, 247, 255);
    cursor: pointer;
    font-size: large;
}

.Weather {
    margin-top: 10px;
    font-size: 4em;
}





